<!doctype html>
<html ng-app="hackgApp">
<head lang="ja">
    <meta charset="UTF-8">
    <title>むしとも　もっとやるページ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/controllers.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/teacher.css">
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="">むしとも - x年y組</a>
    </div>
    <!--<ul class="nav navbar-nav">-->
    <!--<li class="active"><a href="">Link1</a></li>-->
    <!--<li><a href="">Link2</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li><a href="">Link3</a></li>-->
    <!--</ul>-->
</nav>
<div ng-controller="loginController">
    <div ng-controller="mottoPageController">
        <div ng-if="pageMode===SELECT_SUBJECT_PAGE" class="container-fluid kamoku-wrap">
            <button type="submit" ng-click="setParam(SELECT_UNIT_PAGE,'こくご')" class="btn btn-primary col-xs-6 btn-kokugo"">こくご
            </button>
            <button type="submit" ng-click="setParam(SELECT_UNIT_PAGE,'さんすう')" class="btn btn-primary col-xs-6 btn-sansu">
                さんすう
            </button>
            <button type="submit" ng-click="setParam(SELECT_UNIT_PAGE,'りか')" class="btn btn-primary col-xs-6 btn-rika">りか
            </button>
            <button type="submit" ng-click="setParam(SELECT_UNIT_PAGE,'しゃかい')" class="btn btn-primary col-xs-6 btn-syakai">
                しゃかい
            </button>
        </div>

        <div ng-if="pageMode===SELECT_UNIT_PAGE" class="container-fluid">
            <button type="submit" ng-click="setParam(SELECT_SUBJECT_PAGE)" class="btn btn-primary col-xs-12" style="padding:40px;">{{subject}}</button>
            <button type="submit" ng-click="setParam(SELECT_QUESTION_PAGE,subject,'単元１')" class="btn btn-primary col-xs-12" style="padding:40px;">単元１</button>
            <button type="submit" ng-click="setParam(SELECT_QUESTION_PAGE,subject,'単元２')" class="btn btn-primary col-xs-12" style="padding:40px;">単元２</button>
            <button type="submit" ng-click="setParam(SELECT_QUESTION_PAGE,subject,'単元３')" class="btn btn-primary col-xs-12" style="padding:40px;">単元３</button>
            <button type="submit" ng-click="setParam(SELECT_QUESTION_PAGE,subject,'単元４')" class="btn btn-primary col-xs-12" style="padding:40px;">単元４</button>
        </div>

        <div ng-if="pageMode===SELECT_QUESTION_PAGE" class="container-fluid">
            <button type="submit" ng-click="setParam(SELECT_UNIT_PAGE,subject)" class="btn btn-primary col-xs-12" style="padding:40px;">{{subject}}|{{unit}}</button>
            <button type="submit" ng-click="setParam(ANSWER_PAGE,subject,unit,'問１')" class="btn btn-primary col-xs-12" style="padding:40px;">問１</button>
            <button type="submit" ng-click="setParam(ANSWER_PAGE,subject,unit,'問２')" class="btn btn-primary col-xs-12" style="padding:40px;">問２</button>
            <button type="submit" ng-click="setParam(ANSWER_PAGE,subject,unit,'問３')" class="btn btn-primary col-xs-12" style="padding:40px;">問３</button>
            <button type="submit" ng-click="setParam(ANSWER_PAGE,subject,unit,'問４')" class="btn btn-primary col-xs-12" style="padding:40px;">問４</button>
        </div>

        <div ng-if="pageMode===ANSWER_PAGE" class="container-fluid">
            <button type="submit" ng-click="setParam(SELECT_QUESTION_PAGE,subject,unit)" class="btn btn-primary col-xs-12" style="padding:40px;">{{subject}}|{{unit}}|{{question}}</button>
            <textarea placeholder="回答してください" class="col-xs-12 form-control" rows='4'></textarea>
        </div>

    </div>
</div>
</body>
</html>