<!doctype html>
<html ng-app="hackgApp">
<head lang="ja">
    <meta charset="UTF-8">
    <title>HackG 先生ページ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/controllers.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/teacher.css">
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="">HackG (仮) - x年y組</a>
    </div>
    <!--<ul class="nav navbar-nav">-->
    <!--<li class="active"><a href="">Link1</a></li>-->
    <!--<li><a href="">Link2</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li><a href="">Link3</a></li>-->
    <!--</ul>-->
</nav>
<div ng-controller="loginController">
    {{isLogIn}}
    <span ng-show="!isLogIn()">ログインしていません <a href="login-sample.html">ログインページ</a></span>

    <div ng-controller="teacherPageController">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 col-sm-7 teacher-view-board" style="border-right: solid 1px #ddd;">
                    <h4>宿題の追加</h4>

                    <div class="row">
                        <form class="form-horizontal" style="padding-left:20px;" ng-submit="addTask()">
                            <!--<div class="form-group col-md-4 col-sm-4">-->
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2" for="taskDeadline">期限</label>

                                <div class="col-sm-4 col-md-4">
                                    <input type="date" class="form-control" id="taskDeadline" placeholder="2015/05/16"
                                           ng-model="deadline">
                                </div>
                            </div>
                            <!--<div class="form-group col-md-6 col-sm-6">-->
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2" for="taskTitle">タイトル</label>

                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="taskTitle" placeholder="漢字の書き取り"
                                           ng-model="newTask.title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2" for="taskGP">獲得GP</label>

                                <div class="col-sm-2 col-md-2">
                                    <input type="text" class="form-control" id="taskGP" placeholder="30"
                                           ng-model="newTask.point">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2" for="taskDescription">説明</label>

                                <div class="col-sm-8 col-md-8">
                                <textarea class="form-control" rows="3" id="taskDescription"
                                          placeholder="漢字ドリルp33〜p41" ng-model="newTask.description"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <!--<div class="form-group col-md-2 col-sm-2">-->
                                <div class="col-sm-offset-2 col-md-2 col-sm-2">
                                    <button type="submit" class="btn btn-default">追加</button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <h4>宿題一覧</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>今出している宿題</th>
                            <th>追加日</th>
                            <th>期限日</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="hoge()" ng-repeat="task in taskList | filter: false | orderBy: 'addDate' | limitTo: 3">
                            <td>{{task.title}}</td>
                            <td>{{task.addDate}}</td>
                            <td>{{task.deadline}}</td>
                        </tr>
                        </tbody>

                    </table>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>完了済みの宿題</th>
                            <th>追加日</th>
                            <th>期限日</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="hoge()" ng-repeat="task in taskList | filter: true | orderBy: 'addDate' | limitTo: 3">
                            <td>{{task.title}}</td>
                            <td>{{task.addDate}}</td>
                            <td>{{task.deadline}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-md-5 col-sm-5 teacher-view-board">
                    <h4>生徒の宿題状況 宿題名</h4>

                    <div class="panel panel-default">
                        <div class="panel-heading">生徒一覧</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge alert-danger">未提出</span>
                                    谷口 絢子
                                </li>
                                <li class="list-group-item">
                                    <span class="badge alert-danger">未提出</span>
                                    小泉 花陽
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">提出済</span>
                                    東條 希
                                </li>
                                <li class="list-group-item">
                                    <span class="badge alert-danger">未提出</span>
                                    谷口 絢子
                                </li>
                                <li class="list-group-item">
                                    <span class="badge alert-danger">未提出</span>
                                    小泉 花陽
                                </li>
                                <li class="list-group-item">
                                    <!--<span class="label label-default label-as-badge">提出済</span>-->
                                    <span class="badge">提出済</span>
                                    東條 希
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>